.product {
    
    .owl-carousel {
        position: relative;
    }

    .owl-dots {
        position: absolute;
        bottom: 20px;
        left: 50%;
    }
}

.products__header {
    text-align: center;
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin: 15px 0;

    @include mobile {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.products__nub {

    &__img {

        &__link {

            img {
                 width: 100%;
            }
        }
    }
}